@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(31, 31, 31);
}

.bg-search-icon {
  background-image: url(/public/assets/search.png);
  background-size: 24px 24px;
  transform: translateX(1px);
}

.bg-linkedin-icon {
  background-image: url(/public/assets/linkedin.png);
  background-size: 24px 24px;
}
.bg-user-icon {
  background-image: url(/public/assets/user.png);
  background-size: 24px 24px;
}

.bg-resume-icon {
  background-image: url(/public/assets/contract.png);
  background-size: 26px 26px;
  transform: translateX(3px);
}