@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(31, 31, 31);
}

.bg-search-icon {
  background-image: url(/public/assets/search.png);
  background-size: 20px 20px;
}

.bg-linkedin-icon {
  background-image: url(/public/assets/linkedin.png);
  background-size: 24px 24px;
}
.bg-user-icon {
  background-image: url(/public/assets/user.png);
  background-size: 24px 24px;
}
