@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(31, 31, 31);
}

.bg-search-icon {
    background-image: url(/public/assets/search.png);
    background-size: 20px 20px;
}