.bg-search-icon {
    background-image: url(/public/assets/profile.png);
}

.bg-linkedin-icon {
    background-image: url(/public/assets/linkedin.png);
}

.bg-user-icon {
    background-image: url(/public/assets/user.png);
}